<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}"/>

	<meta name="HandheldFriendly" content="True"/>
	<meta name="MobileOptimized" content="320"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">

	{{! Styles'n'Scripts }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400"/>

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">

{{! The big featured header on the homepage, with the site logo and description }}

<header>
	<nav class="blog-navbar navbar navbar-inverse" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<p class="navbar-text">{{@blog.description}}</p>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="{{@blog.url}}">Home</a></li>
					<li><a href="{{@blog.url}}/about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="blog-navbar-under-layer"></div>

	<div class="blog-title container">
		<div class="blog-logo">
			<img src="{{@blog.logo}}">
		</div>
	</div>
</header>

{{! Everything else gets inserted here }}
<main class="main">
	{{{body}}}
</main>

<footer class="footer">
	<div class="container">
		<a class="subscribe icon-feed" href="{{@blog.url}}/rss/">
			<span class="tooltip">Subscribe!</span>
		</a>

		<div class="inner">
			<section class="copyright">All content copyright
				<a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.
			</section>
			<section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>
			</section>
		</div>
	</div>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

<script type="text/javascript" src="{{asset "js/aio-lib.min.js"}}"></script>

</body>
</html>
